//- BOOK OF THE WEEK
table.fw(width="512" border="0" cellpadding="0" cellspacing="0" align="center" valign="top")
  tr
    td(mc-edit="devops_book_title" style=`color: #B8B8B8; font-size: 12px; line-height: 1.6; font-family: ${sansSerif};`)
      | Book of the week
  tr
    td(height="16")
  tr
    td(mc:edit="devops_book_title2")
      span(style=`font-family: ${sansSerif}; font-size: 16px; color: ${brandColor}; line-height: 1.2; margin-top: 0; border-bottom: 1px solid ${brandColor};`)
        | Implementing Lean Software Development: From Concept to Cash
  tr
    td(height="16")
  tr
    td.fw(style=`font-family: ${sansSerif};` align="center")
      img(mc:edit="devops_book_cover" mc:allowdesigner src="https://placehold.it/512x700" style="max-width: 100%; height: auto; vertical-align: middle;")
