meta(charset="utf-8")
title *|MC:SUBJECT|*
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="description" content=`${description}`)
//-SOCIAL
meta(name="twitter:card" value="summary_large_image")
meta(name="twitter:title" value="*|MC:SUBJECT|*")
meta(name="twitter:description" value=`${description}`)
meta(name="twitter:image" content=`${cardImage}`)
meta(property="og:title" content="*|MC:SUBJECT|*")
meta(property="og:image" content=`${cardImage}`)
meta(property="og:description" content=`${description}`)
meta(property="og:url" content="*|ARCHIVE|*")
