//- INTRO
table.fw(width="512" border="0" cellpadding="0" cellspacing="0" align="center")
  tr
    td(mc:edit="devops_intro" style=`color: #212121; font-size: 21px; line-height: 1.4; font-family: ${sansSerif};`)
      p Hey Dalibor,

      p As most of you may know, we started #[span(style=`color: ${brandColor}; border-bottom: 1px solid ${brandColor};`) Shipped], a new newsletter focused on containers and orchestration technologies.

      p If you'd like to support it, answer this 5 min survey and get #[b 25% Discount Coupon] on #[span(style=`color: ${brandColor}; border-bottom: 1px solid ${brandColor};`) PainlessDocker Book].

      p Cheers,#[br]
        | Aymen.
  tr
    td(height="72")
